@model DiscountCalculatorModel

@{
    ViewBag.Title = "Home";
}
<div class="bg-success">

<h1 class="">Price Quotation</h1>

</div>

<form asp-action="Index" method="post">
    @* display all the errors here if there are any *@
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Subtotal">Subtotal:</label>
        <input asp-for="Subtotal" />
    </div>
    <div>
        <label asp-for="DiscountPercent">Discount Percent:</label>
        <input asp-for="DiscountPercent" />
    </div>
    @* set the value for discount amount and total *@
    <div>
        <label>Discount Amount:</label>
        <span>@ViewBag.DiscountAmount.ToString("C2")</span>
    </div>
    <div>
        <label>Total:</label>
        <span>@ViewBag.Total.ToString("C2")</span>
    </div>
    @* post request to the controller *@
    <button type="submit">Calculate</button>
    @* clear the form by redirecting to the index action *@
    <a asp-action="Index">Clear</a>
</form>
